body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 10px 20px;
}

.navbar-logo img {
  height: 50px;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu a {
  text-decoration: none;
  color: #343a40;
  margin-right: 20px;
  font-size: 14px;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropbtn {
  background-color: inherit;
  color: #343a40;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
}

/* Links inside dropdown */
.dropdown-content a {
  color: #343a40;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Add hover effect to dropdown links */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Style for the Login button */
.navbar-login {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.navbar-login:hover {
  background-color: #0056b3;
}
