extends komponen/pug/_template.pug

block content
  -
    var newsItems = [
      { image: 'komponen/assets/img/berita.jpeg', date: '26 Oct 2024', title: 'Bergerak Bersama untuk Otak dan Jantung yang Sehat, RSUI Ajak Masyarakat Tidak Malas Bergerak', description: 'Deskripsi singkat...', link: '#' },
      { image: 'komponen/assets/img/berita.jpeg', date: '24 Oct 2024', title: 'Provinsi Jawa Barat Beri Penghargaan RSUI : Penghargaan Produktivitas Siddhakarya', description: 'Deskripsi singkat...', link: '#' },
      { image: 'komponen/assets/img/berita.jpeg', date: '06 Oct 2024', title: 'RSUI Lakukan Giat Intervensi Cegah Stunting, Anemia, dan Kecacingan', description: 'Deskripsi singkat...', link: '#' },
      { image: 'komponen/assets/img/berita.jpeg', date: '27 Sep 2024', title: 'FKUI dan UPTD Puskesmas Beji Selenggarakan Edukasi Kesehatan', description: 'Deskripsi singkat...', link: '#' },
      { image: 'komponen/assets/img/berita.jpeg', date: '25 Sep 2024', title: 'Seminar Awam Bicara Sehat RSUI: Mencegah Stroke dengan Gamma Oryzanol', description: 'Deskripsi singkat...', link: '#' },
      { image: 'komponen/assets/img/berita.jpeg', date: '19 Sep 2024', title: 'RSUI Meraih Akreditasi A sebagai Lembaga Penyelenggara Pelatihan Bidang Kesehatan oleh Kemenkes RI', description: 'Deskripsi singkat...', link: '#' },
      { image: 'komponen/assets/img/berita.jpeg', date: '19 Sep 2024', title: 'RSUI Meraih Akreditasi A sebagai Lembaga Penyelenggara Pelatihan Bidang Kesehatan oleh Kemenkes RI', description: 'Deskripsi singkat...', link: '#' },
      { image: 'komponen/assets/img/berita.jpeg', date: '19 Sep 2024', title: 'RSUI Meraih Akreditasi A sebagai Lembaga Penyelenggara Pelatihan Bidang Kesehatan oleh Kemenkes RI', description: 'Deskripsi singkat...', link: '#' }
    ]

  .news-grid
    each item in newsItems
      +newsCard(item.image, item.date, item.title, item.description, item.link)
