extends komponen/pug/_template.pug
block content
  .news-grid
    +newsCard('/path/to/image1.jpg', '26 Oct 2024', 'Bergerak Bersama untuk Otak dan Jantung yang Sehat, RSUI Ajak Masyarakat Tidak Malas Bergerak', 'Deskripsi singkat...', '#')
    +newsCard('/path/to/image2.jpg', '24 Oct 2024', 'Provinsi Jawa Barat Beri Penghargaan RSUI : Penghargaan Produktivitas Siddhakarya', 'Deskripsi singkat...', '#')
    +newsCard('/path/to/image3.jpg', '06 Oct 2024', 'RSUI Lakukan Giat Intervensi Cegah Stunting, Anemia, dan Kecacingan', 'Deskripsi singkat...', '#')
    +newsCard('/path/to/image4.jpg', '27 Sep 2024', 'FKUI dan UPTD Puskesmas Beji Selenggarakan Edukasi Kesehatan', 'Deskripsi singkat...', '#')
    +newsCard('/path/to/image5.jpg', '25 Sep 2024', 'Seminar Awam Bicara Sehat RSUI: Mencegah Stroke dengan Gamma Oryzanol', 'Deskripsi singkat...', '#')
    +newsCard('/path/to/image6.jpg', '19 Sep 2024', 'RSUI Meraih Akreditasi A sebagai Lembaga Penyelenggara Pelatihan Bidang Kesehatan oleh Kemenkes RI', 'Deskripsi singkat...', '#')
    +newsCard('/path/to/image6.jpg', '19 Sep 2024', 'RSUI Meraih Akreditasi A sebagai Lembaga Penyelenggara Pelatihan Bidang Kesehatan oleh Kemenkes RI', 'Deskripsi singkat...', '#')
    +newsCard('/path/to/image6.jpg', '19 Sep 2024', 'RSUI Meraih Akreditasi A sebagai Lembaga Penyelenggara Pelatihan Bidang Kesehatan oleh Kemenkes RI', 'Deskripsi singkat...', '#')

