extends komponen/pug/_template.pug

block content
  +doctorSearch

  -
    var doctors = [
      {name: 'dr. Mala Azitha', specialization: 'Dokter Umum', image: 'komponen/assets/img/dokter.jpeg'},
      {name: 'dr. Herlin Oktaviyani', specialization: 'Dokter Umum', image: 'komponen/assets/img/dokter.jpeg'},
      {name: 'dr. Yohannessa Wulandari, M. Gizi', specialization: 'Ilmu Gizi Klinik', image: 'komponen/assets/img/dokter.jpeg'},
      {name: 'dr. Cepi Teguh Pramayadi, Sp.OG(K)', specialization: 'Obstetri dan Ginekologi', image: 'komponen/assets/img/dokter.jpeg'},
      {name: 'dr. Karla Duha', specialization: 'Dokter Umum', image: 'komponen/assets/img/dokter.jpeg'},
      {name: 'dr. Putri Paramita Sakti, Sp.KFR', specialization: 'Ilmu Kedokteran Fisik dan Rehabilitasi', image: 'komponen/assets/img/dokter.jpeg'}
    ]

  section.doctor-listing
    .container
      each doctor in doctors
        +doctorCard(doctor.name, doctor.specialization, doctor.image)
