extends komponen/pug/_template.pug

block content
  .gawat-darurat-container
    .gawat-darurat-header-section
      img(src="komponen/assets/img/5.jpg", alt="Gawat Darurat Image")
      .gawat-darurat-header-text
        h1 Selamat Datang Di
        h2 Gawat Darurat

    .gawat-darurat-content-section
      h3 Deskripsi
      h4 Pelayanan
      p IGD RSUI dapat menangani kasus gawat darurat segala usia, mulai anak hingga dewasa.

      h4 Pelayanan Klinik Emergensi
      p IGD RSUI memiliki ruangan klinik yang nyaman.

      h4 Pelayanan gawat darurat kebidanan dan kandungan
      p Masalah kegawatdaruratan ibu hamil merupakan salah satu hal yang kita tangani di IGD RSUI.

      h4 Code Stroke
      p Ini merupakan sistem pelayanan yang dikembangkan RSUI.

      h4 Layanan
      ul
        li Ruang penanganan emergensi (5 bed)
        li Ruang observasi (7 bed)
        li Klinik IGD (4 ruangan)
        li Ruang isolasi tekanan negatif (2 bed)
        li Kamar operasi emergensi bertekanan negatif
        li Ventilator
        li High flow nasal cannula
        li Monitor defibrillator
        li Infant warmer
        li Ambulans gawat darurat

    .gawat-darurat-gallery-section
      h3 Galeri
      .gawat-darurat-gallery
        img(src="path/to/gallery-image1.jpg", alt="Instalasi Gawat Darurat")
        img(src="path/to/gallery-image2.jpg", alt="Gawat Darurat")
        img(src="path/to/gallery-image3.jpg", alt="Gawat Darurat")
