extends komponen/pug/_template.pug

block content
  // Mengapa Kami Section
  section.why-choose-us
    .container
      h2 Mengapa Kami ?
      .features
        .feature-item
          img(src="komponen/assets/img/share.png" alt="Digital Icon")
          .feature-text
            h3 Rumah Sakit Berbasis Digital
            p Menerapkan sistem manajemen operasional berbasis teknologi informasi jaringan
        .feature-item
          img(src="komponen/assets/img/load.png" alt="Care Icon")
          .feature-text
            h3 Perawatan Berkelanjutan
            p Kesinambungan pelayanan yang dilakukan mulai dari perawatan sampai pasien pulang ke rumah oleh tim home care multi-profesi
        .feature-item
          img(src="komponen/assets/img/search.png" alt="Evidence Icon")
          .feature-text
            h3 Praktik Berbasis Bukti
            p Seluruh klien dikaji berdasarkan riwayat penyakit dahulu, keluarga, dan pola hidup
        .feature-item
          img(src="komponen/assets/img/user.png" alt="Collaboration Icon")
          .feature-text
            h3 Kolaborasi Interprofesional
            p Mengembangkan kolaborasi interprofesional dalam pelayanan, riset bidang kesehatan, serta pengabdian masyarakat
      button.learn-more-btn Selengkapnya

block doctorSearch
block locationGuidance