extends komponen/pug/_template.pug

block content
  .bed-container
    h1.bed-title Ketersediaan Tempat Tidur
    p.bed-note 
      | * Ketersediaan kamar yang berisi lebih dari 1 tempat tidur (kelas 1, 2, 3), 
      | mempertimbangkan juga kelompok usia (anak/ dewasa), jenis kelamin, 
      | dan kondisi penyakit dari pasien yang telah menempati ruangan tersebut.

    -
      var bedStatuses = [
        { label: 'Total', count: 290 },
        { label: 'Available', count: 103 },
        { label: 'Occupied', count: 168 },
        { label: 'Cleaning', count: 19 }
      ]

    +bedStatus(bedStatuses)
