extends komponen/pug/_template.pug

block content
  .bed-container
    h1.bed-title Ketersediaan Tempat Tidur
    p.bed-note 
      | * Ketersediaan kamar yang berisi lebih dari 1 tempat tidur (kelas 1, 2, 3), 
      | mempertimbangkan juga kelompok usia (anak/ dewasa), jenis kelamin, 
      | dan kondisi penyakit dari pasien yang telah menempati ruangan tersebut.

    .bed-status
      div.status Total : 290
      div.status Available : 103
      div.status Occupied : 168
      div.status Cleaning : 19
