extends komponen/pug/_template.pug
block content
  .page-container
    +breadcrumb
    +mainImage("https://storage.googleapis.com/a1aa/image/e2xsWpGcsU3SYylUeSD1BjY9GkyChBLYq8XkyJYdofEGFbcnA.jpg", "Interior of a modern laboratory with medical equipment")
    +description
    +gallery