extends komponen/pug/_template.pug
block content
  .content-container
    +breadcrumb
    +mainImage("https://storage.googleapis.com/a1aa/image/LkW0EGAUsrIxApZQP920oo7o2giLH5I2E8zGReLlOeeySicnA.jpg", "Interior of a modern laboratory with medical equipment")
    +description
    +gallery
