extends komponen/pug/_template.pug
block content
  //- Data laboratorium
  -
    const dataLab = {
      'Laboratorium Patologi Klinik': {
        id: 'lab-patologi',
        deskripsi: [
          'Pemeriksaan LBC (Liquid Based Cytology) untuk sampel serviks, cairan pleura dan sampel ginekologi',
          'Pemeriksaan molekuler Covid-19 dan berbagai bahan kaliks',
          'Histopatologi pemeriksaan sel-sel atau jaringan tubuh/biopsi untuk kepentingan diagnostik',
          'Sitogenetika pemeriksaan sel untuk mendapatkan kariotipe seperti amnion atau darah perifer',
          'Tes dan screening untuk berbagai kelainan bawaan atau kelainan genetik',
          'Pemeriksaan patologi klinik standar/umum untuk pengukuran biokimiawi',
          'Rapid test/PCR Cytology examination (ROSE) untuk menilai kecukupan sampel FNAB diagnosis'
        ]
      },
      'Laboratorium Patologi Anatomi': {
        id: 'lab-anatomi',
        deskripsi: []
      },
      'Laboratorium Mikrobiologi Klinik': {
        id: 'lab-mikrobiologi',
        deskripsi: []
      },
      'Laboratorium Biomolekuler': {
        id: 'lab-biomolekuler', 
        deskripsi: []
      },
      'Laboratorium Parasitologi': {
        id: 'lab-parasitologi',
        deskripsi: []
      },
      'Laboratorium Darah': {
        id: 'lab-darah',
        deskripsi: []
      }
    }

    const dataGaleri = [
      {
        gambar: 'LABORATORIUM1.jpg',
        alt: 'Laboratorium 1'
      },
      {
        gambar: 'LABORATORIUM2.jpg', 
        alt: 'Laboratorium 2'
      },
      {
        gambar: 'LABORATORIUM3.jpg',
        alt: 'Laboratorium 3' 
      }
    ]
