//- medicalCheckup.pug

extends komponen/pug/_template.pug


block content
<<<<<<< HEAD
  .content-container
    +headerSection("https://storage.googleapis.com/a1aa/image/HeeIyDBkE5k9YUOVvkTkbhn3GfT5vGB6qPZUJw76eTBRv6APB.jpg", "Selamat Datang Di<br>Medical Check Up")
    +textContent
    +imageGallery
=======
  +banner
  +description
  +services
  +additional_info
  +gallery
>>>>>>> 7499354d241ef49a4c65c27f0fec86bdfda8d9ee
