//- medicalCheckup.pug

extends komponen/pug/_template.pug


block content
  .content-container
    +headerSection("https://storage.googleapis.com/a1aa/image/HeeIyDBkE5k9YUOVvkTkbhn3GfT5vGB6qPZUJw76eTBRv6APB.jpg", "Selamat Datang Di<br>Medical Check Up")
    +textContent
    +imageGallery