extends komponen/pug/_template.pug

block head
  link(rel="stylesheet" href="emergency.css")

block content
  .emergency-container
    include komponen.pug

    +emergencyHeader("https://storage.googleapis.com/a1aa/image/D491MnjelXy1ZaswG97fZ3CkE9o4lYjdNDQ7itqqTnND1dwTA.jpg", "Emergency Room", "Selamat Datang di", "Gawat Darurat")

    +emergencyDescription("Deskripsi", "Pelayanan IGD RS PENS Sumenep dapat menangani kasus gawat darurat segala usia, mulai anak hingga dewasa. Berbagai tindakan gawat darurat, mulai dari pengelolaan fungsi vital (jalan napas, pernapasan, dan peredaran darah), penanganan kasus kecelakaan, dan kegawatdaruratan medis lainnya. Pasien akan ditempatkan di ruangan yang sesuai dengan tingkat keparahan masalahnya dan dilayani secara optimal sesuai keluhan.")

    +emergencyServiceList([
      "Ruang penanganan emergensi (5 bed)",
      "Ruang observasi (7 bed)",
      "Klinik Ibu (4 ruangan)",
      "High flow nasal cannula",
      "Monitor defibrillator",
      "Infant warmer",
      "Ambulans gawat darurat"
    ])

    +emergencyGallery("GALERI", [
      { src: "https://storage.googleapis.com/a1aa/image/Q2IyJwMfaLSfcUS47Nup3sxt6KSdX0FM42l8xQmwjSiC1dwTA.jpg", alt: "Hospital Entrance" },
      { src: "https://storage.googleapis.com/a1aa/image/kyKyuvkuBi5rKtfwjFCHGQTaUD95EfVTU2WN3zJa8h1A1dwTA.jpg", alt: "Emergency Room Entrance" },
      { src: "https://storage.googleapis.com/a1aa/image/rd9FCjDtC7YuHJp6soG9J4YSBQ4veNN37UVjZJt5g2yi6O4JA.jpg", alt: "Medical Staff in Action" }
    ])