extends template.pug

block content
  // Petunjuk Lokasi Section
  section.location-guidance
    .container
      h2 Petunjuk Lokasi
      .location-cards
        .location-card
          img(src="komponen/assets/img/tumbnail-location1.png" alt="Petunjuk Jalan")
          h3 Petunjuk Jalan
          button.location-btn Selengkapnya
        .location-card
          img(src="komponen/assets/img/tumbnail-hospital.png" alt="Denah Lokasi")
          h3 Denah Lokasi
          button.location-btn Selengkapnya
