extends komponen/pug/_template.pug

block content
  .clinic-grid
    +clinicCard('Klinik Pulmonologi dan Respirasi (Paru)', 'img/paru.png')
    +clinicCard('Klinik Rehabilitasi Medik', 'img/rehabilitasi-medik.png')
    +clinicCard('Klinik Saraf', 'img/klinik-saraf.png')
    +clinicCard('Klinik Telinga Hidung Tenggorokan (THT)', 'img/tht.png')
    +clinicCard('Klinik Terapi Intraven Talsemia', 'img/talasemia.png')
    +clinicCard('Klinik Urologi', 'img/urologi.png')
    +clinicCard('Klinik Patologi Anatomi', 'img/patologi-anatomi.png')
    +clinicCard('Mikrobiologi Klinik', 'img/mikrobiologi.png')
    +clinicCard('Patologi Klinik', 'img/patologi-klinik.png')
    +clinicCard('Parasitologi Klinik', 'img/parasitologi.png')

  .consent-section
    h2 Persetujuan Untuk Perawatan dan Pengobatan
    .consent-box
      p Anda menyetujui untuk perawatan di Rumah Sakit Universitas Indonesia sebagai pasien rawat jalan atau rawat inap tergantung kepada kebutuhan medis.
      ul
        li Pengobatan dapat meliputi pemeriksaan x-ray/ radiologi, tes darah, perawatan rutin, dan prosedur seperti cairan infus atau suntikan.
        li Persetujuan yang Anda berikan tidak termasuk persetujuan untuk prosedur/ tindakan invasif (misalnya, operasi).
        li Jika Anda memutuskan untuk menghentikan perawatan medis untuk diri Anda sendiri, Anda menyadari bahwa RS Universitas Indonesia atau dokter tidak bertanggung jawab atas hasil yang merugikan.

    h2 Persetujuan Untuk Perawatan dan Pengobatan Pada Masa Tanggap Darurat COVID-19
    .consent-box
      p Anda menyetujui bahwa diagnosis Anda sebagai Pasien Dalam Pengawasan, Orang Dalam Pengawasan, dan Kasus Terkonfirmasi COVID-19.
      ul
        li Anda menyetujui untuk mendapatkan penanganan dari DPJP sesuai diagnosis COVID-19 berdasarkan hasil pemeriksaan DPJP.
        li Persetujuan yang Anda berikan tidak termasuk persetujuan untuk prosedur/ tindakan invasif (misalnya, operasi).

    h2 Hak Dan Tanggung Jawab Pasien
    .consent-box
      p Informasi mengenai hak dan tanggung jawab pasien.
