extends komponen/pug/_template.pug

block content
  .radiology-container
    +breadcrumbRadiology([{ href: '#', text: 'Home' }, { href: '#', text: 'Layanan' }, { href: '#', text: 'Radiologi' }])
    
    +headerImageRadiology("https://storage.googleapis.com/a1aa/image/fuyFjatsLLQSRqfLPGFrZ8grjgA1dSga4hGSmJJQ1SP1ZcwTA.jpg", "Layanan Unggulan", "Radiologi")
    
    +descriptionRadiology("Deskripsi", "Unit Radiologi RSUI memiliki layanan unggulan dalam bidang neuroradiologi, radiologi abdomen, radiologi muskuloskeletal, serta radiologi intervensional dan kardiovaskular. Unit Radiologi RSUI memiliki 5 dokter spesialis radiologi yang memiliki subspesialistik di bidang nya masing masing sehingga pelayanan dan pemeriksaan pasien menjadi lebih terarah dan komprehensif. Unit Radiologi RSUI memiliki beberapa modalitas pemeriksaan mulai dari yang sederhana hingga pemeriksaan canggih, yang terdiri atas.")

    .radiology-services
      - 
        var services = [
          { title: 'Digital radiography (DR)', description: 'Yang dapat dijelaskan sebagai pemeriksaan dasar...' },
          { title: 'Digital Mammografi', description: 'Merupakan alat pencitraan payudara menggunakan sinar X...' },
          { title: 'Ultrasonografi', description: 'Dapat dijelaskan untuk pemeriksaan multi-organ...' },
          { title: 'CT scan 128 slices', description: '' },
          { title: 'MRI 1.5 Tesla', description: '' }
        ]
      each service in services
        +serviceItemRadiology(service.title, service.description)

    +galleryRadiology([
      { src: "https://storage.googleapis.com/a1aa/image/f710WIDlUI3HJibZRzyMIf9pX7uscRxIKJUgUqqMWUh2ZcwTA.jpg", alt: "MRI machine" },
      { src: "https://storage.googleapis.com/a1aa/image/k4KQPVFMxhpZHto7TaSHMVkgEoCI5fmk3JlPgV9yffqpz4gnA.jpg", alt: "CT scan machine" },
      { src: "https://storage.googleapis.com/a1aa/image/BfPeVW8Uvxst1kR2hVgvileubSfxhCIgcRW4w3vrGxeYOjDeE.jpg", alt: "Radiology room" }
    ])