extends komponen/pug/_template.pug

block content
  section.radiology
    .container
      .header
        h1 Selamat Datang Di
        h2 Radiologi

      .description
        p Unit Radiologi RSUI memiliki layanan unggulan dalam bidang neuroradiologi, radiologi abdomen, radiologi muskuloskeletal, serta radiologi intervensional dan kardiovaskular. Unit Radiologi RSUI memiliki 5 dokter spesialis radiologi yang memiliki subspesialis di bidangnya masing-masing sehingga pelayanan dan pemeriksaan pasien menjadi lebih terarah dan komprehensif. Unit Radiologi RSUI memiliki beberapa modalitas pemeriksaan mulai dari sederhana hingga pemeriksaan canggih, yang terdiri atas:

      .services
        ul
          li
            a(href="#") Digital radiography (DR)
            p Yang dapat diaplikasikan sebagai pemeriksaan dasar dan sederhana untuk berbagai organ. Salah satu keunggulan alat DR di Unit Radiologi RSUI adalah memiliki kemampuan untuk pemeriksaan scoliosis program, long spine, dan long leg, sehingga dapat tervisualisasi optimal seluruh segmen tulang belakang (vertebra) maupun daerah panggul hingga kaki.
          li: a(href="#") Digital Mammografi
          li: a(href="#") Ultrasonografi
          li: a(href="#") CT scan 128 slices
          li: a(href="#") MRI 1.5 Tesla

      .gallery
        h3 Galeri
        .gallery-images
          img(src="path/to/image1.jpg" alt="Radiologi Image 1")
          img(src="path/to/image2.jpg" alt="Radiologi Image 2")
          img(src="path/to/image3.jpg" alt="Radiologi Image 3")
