extends komponen/pug/_template.pug
block content
  // Header Section
  section.header
    .header-image
      h1 Selamat Datang Di
      h2 Radiologi

  // Description Section
  section.description
    h3 Deskripsi
    p Unit Radiologi RSU memiliki layanan unggulan dalam bidang radiologi konvensional, radiologi abdomen, radiologi muskuloskeletal, serta radiologi intervensional dan endovaskular. Unit Radiologi RSU memiliki Sistem pelaporan radiologi yang memiliki kecepatan tinggi. Bidang ini memiliki keunggulan berupa layanan pemeriksaan pencitraan medis RSU terkini dan komprehensif. Unit Radiologi RSU memiliki beberapa metode pemeriksaan medis dari yang sederhana hingga pemeriksaan canggih, yang terdiri dari:

  // Services Section
  section.services
    .service-item Digital Radiography (DR)
    .service-item Digital Mammografi
    .service-item Ultrasonografi
    .service-item CT scan 128 slices
    .service-item MRI 1.5 Tesla

  // Gallery Section
  section.gallery
    h3 Galeri
    .gallery-container
      .gallery-item
        img(src="path/to/image1.jpg", alt="Radiologi Image 1")
        p Radiologi
      .gallery-item
        img(src="path/to/image2.jpg", alt="Radiologi Image 2")
        p Radiologi
      .gallery-item
        img(src="path/to/image3.jpg", alt="Radiologi Image 3")
        p Radiologi
