extends komponen/pug/_template.pug
 
block content
  - 
    const dataKamar = {
      'VVIP': {
        id: 'vvip',
        gambar: {
          type: 'images',
          sources: ['komponen/assets/img/vvip.jpeg'],
          alt: 'Kamar dengan fasilitas'
        },
        daftarFasilitas: {
          type: 'list',
          items: [
            'AC',
            'Satu Tempat Tidur Pasien',
            'Satu Kamar Mandi Dalam Dengan Air Hangat',
            'Ruang Keluarga',
            'Dapur Kering',
            'Sofa Mini',
            'Satu TV',
            'Satu Dispenser',
            'Satu Set Teh & Kopi',
            'Satu Meja dan Kursi Makan'
          ]
        }
      },
      'VIP': {
        id: 'vip',
        gambar: {
          type: 'images',
          sources: ['komponen/assets/img/vvip.jpeg'],
          alt: 'Kamar dengan fasilitas'
        },
        daftarFasilitas: {
          type: 'list',
          items: [
            'AC',
            'Satu Tempat Tidur Pasien',
            'Satu Kamar Mandi Dalam Dengan Air Panas',
            'Ruang Tamu',
            'TV',
            'Dispenser',
            'Meja Makan'
          ]
        }
      },
      'Kelas-1': {
        id: 'kelas-1',
        gambar: {
          type: 'images',
          sources: ['komponen/assets/img/vvip.jpeg'],
          alt: 'Kamar dengan fasilitas'
        },
        daftarFasilitas: {
          type: 'list',
          items: [
            'AC',
            'Tempat Tidur Pasien',
            'Kamar Mandi',
            'TV',
            'Sofa',
            'Meja'
          ]
        }
      },
      'Kelas-2': {
        id: 'kelas-2',
        gambar: {
          type: 'images',
          sources: ['komponen/assets/img/vvip.jpeg'],
          alt: 'Kamar dengan fasilitas'
        },
        daftarFasilitas: {
          type: 'list',
          items: [
            'AC',
            'Tempat Tidur Pasien',
            'Kamar Mandi Bersama',
            'TV'
          ]
        }
      },
      'Kelas-3': {
        id: 'kelas-3',
        gambar: {
          type: 'images',
          sources: ['komponen/assets/img/vvip.jpeg'],
          alt: 'Kamar dengan fasilitas'
        },
        daftarFasilitas: {
          type: 'list',
          items: [
            'Tempat Tidur Pasien',
            'Kipas Angin',
            'Kamar Mandi Bersama'
          ]
        }
      }
    }

  .inpatient-container
    h1.inpatient-title RAWAT INAP
    
    each data, jenisKamar in dataKamar
      +inpatientSection(jenisKamar, data.id, {
        images: data.gambar,
        list: data.daftarFasilitas
      })