extends komponen/pug/_template.pug
block content
  .main-container
    .form-section
      +registrationForm
    .illustration-section
      +imageContainer(
        "https://storage.googleapis.com/a1aa/image/fo9ckOaKQy1RVSEcokxeVO4uNmUcHhyCiVBe3LmThdWE3acnA.jpg",
        "Illustration of a person standing next to an email interface"
      )
