mixin navbar
    nav.navbar
        .navbar-logo
            img(src="logo.png", alt="Logo")
        .navbar-menu
            a(href="#") Home
            a(href="#") About
            a(href="#") Contact
        .navbar-login
            a.navbar-login(href="#") Login

mixin denah
    section.denah
        h2 Peta Lokasi
        p Berikut adalah denah lokasi perusahaan kami.
        img(src="denah.png", alt="Denah Lokasi")

mixin footer
    footer.footer
        .footer-container
            .footer-section
                h3 Tentang Kami
                ul
                    li: a(href="#") Profil
                    li: a(href="#") Karir
                    li: a(href="#") Kontak
            .footer-section
                h3 Bantuan
                ul
                    li: a(href="#") FAQ
                    li: a(href="#") Panduan
                    li: a(href="#") Kebijakan Privasi

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        block navbar
            +navbar()  // Mixin digunakan di sini
        block denah
            +denah()  // Mixin digunakan di sini
        block footer
            +footer()  // Mixin digunakan di sini
