extends komponen/pug/_template.pug

block content
  .visi-misi-container
    h1.visi-misi-title Visi & Misi

    h2.visi-title Visi
    p.visi-text • Rumah Sakit PENS Sumenep menjadi rumah sakit politeknik berkelas di madura pada tahun 2030

    h2.misi-title Misi
    ul.misi-list
      li • Menyelenggarakan pelayanan kesehatan yang paripurna
      li • Menyelenggarakan pendidikan interprofesional bidang kesehatan yang komprehensif
      li • Mengembangkan pusat pendidikan riset klinik yang terintegrasi dengan AHS PENS Sumenep
      li • Menyelenggarakan manajemen yang professional dan akuntabel, serta mampu mencapai kemandirian finansial
