mixin admissionConsent
  .admission-container
    .admission-content
      .admission-header
        h1 ADMISI
        p PEMBERIAN INFORMASI DAN PERSETUJUAN UMUM (GENERAL CONSENT) UNTUK MENERIMA PELAYANAN KESEHATAN
      .admission-content-box
        h2 Persetujuan Untuk Perawatan dan Pengobatan
        .admission-item
          i.fas.fa-minus-circle
          p Anda menyetujui untuk perawatan di Rumah Sakit Universitas Indonesia sebagai pasien rawat jalan atau rawat inap tergantung kepada kebutuhan medis. Pengobatan dapat meliputi pemeriksaan x-ray/ radiologi, tes darah, perawatan rutin dan prosedur seperti cairan infus atau suntikan dan evaluasi (contohnya wawancara dan pemeriksaan fisik)
        .admission-item
          i.fas.fa-minus-circle
          p Persetujuan yang Anda berikan tidak termasuk persetujuan untuk prosedur/ tindakan invasif (misalnya, operasi) atau tindakan yang mempunyai resiko tinggi
        .admission-item
          i.fas.fa-minus-circle
          p Jika Anda memutuskan untuk menghentikan perawatan medis untuk diri Anda sendiri, Anda memahami dan menyadari bahwa Rumah Sakit Universitas Indonesia atau dokter tidak bertanggung jawab atas hasil yang merugikan Anda.
        .admission-item
          i.fas.fa-minus-circle
          p Anda mengetahui bahwa Rumah Sakit Universitas Indonesia merupakan RS Pendidikan yang menjadi tempat praktek klinik bagi mahasiswa kedokteran dan profesi-profesi kesehatan lainnya. Karena itu, mereka mungkin berpartisipasi dan atau terlibat dalam perawatan Anda, sepanjang dibawah supervisi Dokter Penanggung Jawab Pasien (DPJP)
