mixin alphabetSection
  .alphabet-section
    h4 Temukan penyakit atau kondisi dengan huruf pertamanya
    .alphabet
      each letter in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
        div= letter
