include _navbar.pug
include _footer.pug
include _specialOffers.pug
include _locationGuidance.pug
include _doctorSearch.pug
include _admissionConsent.pug
include _pencarian.pug
include _rawatinap.pug
include _Alphabet.pug
include _radiologi.pug