doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Denah Lokasi
    link(rel="stylesheet", href="css/denah.css")

  body
    .container
      .title PETUNJUK LOKASI
      .underline
      .cards
        .card
          img(src="https://storage.googleapis.com/a1aa/image/JNAJvA8ViW4iHlBeQnRRjGm6I12y6pdUtctIfNcGrJ3EEwkTA.jpg" alt="Map icon with a location pin" width="100" height="100")
          .card-title Petunjuk Jalan
          a.card-button(href="#") Selengkapnya
        .card
          img(src="https://storage.googleapis.com/a1aa/image/j0gP7XotNg7oDRreARpBox34fWLObgndMn1Vcgr1EQLDEwkTA.jpg" alt="Building icon with a location pin" width="100" height="100")
          .card-title Denah Lokasi
          a.card-button(href="#") Selengkapnya
