mixin doctorSearch
  // Header Section with Doctor Search
  section.doctor-search
    .search-container
      .search-field
        select
          option(value="") Pilih Spesialis
          // Tambahkan opsi spesialis lainnya di sini
        select
          option(value="") Pilih Dokter
          // Tambahkan opsi dokter lainnya di sini
        button.search-btn CARI
