mixin doctorSearch
  // Header Section with Doctor Search
  section.doctor-search-section
    .doctor-search-container
      .doctor-search-field
        select.doctor-select
          option(value="") Pilih Spesialis
          // Tambahkan opsi spesialis lainnya di sini
        select.doctor-select
          option(value="") Pilih Dokter
          // Tambahkan opsi dokter lainnya di sini
        button.doctor-search-btn CARI
