//- components/pug/_breadcrumb.pug

mixin breadcrumb
  .breadcrumb-section
    a(href="#") Home
    |  /
    a(href="#") Layanan
    |  / Laboratorium
//- components/pug/_mainImage.pug

mixin mainImage(imageSrc, altText)
  .image-wrapper
    img(src=imageSrc, alt=altText, width="600", height="400")
    .image-caption Selamat Datang di Laboratorium
//- components/pug/_description.pug

mixin description
  .lab-details
    h2.section-title Deskripsi
    h3.sub-section-title Pelayanan
    p.description-text Laboratorium kami menerapkan konsep laboratorium terpadu sehingga memiliki laboratorium patologi klinik, patologi anatomi, mikrobiologi, parasitologi, biokimia/kimia klinik, bank darah, serologi dan imunologi...
    //- Repeat other paragraphs as needed
    ul.lab-list
      li Laboratorium Patologi Klinik
      li Laboratorium Patologi Anatomi
      li Laboratorium Mikrobiologi
      li Laboratorium Biokimia/Kimia Klinik
      li Laboratorium Parasitologi
      li Laboratorium Darah
//- components/pug/_gallery.pug

mixin gallery
  .gallery-section
    h2.gallery-title GALERI
    .gallery-images
      img(src="https://storage.googleapis.com/a1aa/image/Pec9ZpVt29RpASsrr3jwrduD2UdMYi6RCNFsQSMRbIxtkI3JA.jpg", alt="Laboratory equipment and workspace", width="200", height="150")
      img(src="https://storage.googleapis.com/a1aa/image/RaFgw2HWDHYELRB1QF0KosjsVn0brMUseN6YhebvF6UYJRuTA.jpg", alt="Laboratory technicians working with microscopes", width="200", height="150")
      img(src="https://storage.googleapis.com/a1aa/image/mMrhx311veTRQaqVh9wU3iil9FwauLqOv78IjQzuskVrkI3JA.jpg", alt="Close-up of laboratory instruments and tools", width="200", height="150")
