mixin navbar
  .navbar
    //- Logo and Contact
    .navbar-logo
      img(src="assets/img/Logo_PENS.png", alt="RSUI Logo")

    //- Menu Links with Dropdowns
    .navbar-menu
      //- Pasien & Pengunjung Dropdown
      .dropdown
        a(href="#", class="dropbtn") PASIEN & PENGUNJUNG
        .dropdown-content
          a(href="#") Cari Dokter
          a(href="#") Petunjuk Lokasi
          a(href="#") Admisi
          a(href="#") Rawat Inap
          a(href="#") Ketersediaan Tempat Tidur
          a(href="#") FAQ

      //- Layanan Dropdown
      .dropdown
        a(href="#", class="dropbtn") LAYANAN
        .dropdown-content
          a(href="#") Poli Klinik
          a(href="#") Gawat Darurat
          a(href="#") Laboratorium
          a(href="#") Medical Checkup
          a(href="#") Radiologi

      //- Berita & Artikel Kesehatan Dropdown
      .dropdown
        a(href="#", class="dropbtn") BERITA & ARTIKEL KESEHATAN
        .dropdown-content
          a(href="kelainan&penyakit.html") Kelainan Penyakit
          a(href="#") Artikel Populer
          a(href="#") Edukasi Visual
          a(href="#") Bicara Sehat
          a(href="#") Berita
          a(href="#") Video
          a(href="#") Visi & Misi

    //- Search and Login
    .navbar-actions
      a(href="#", class="navbar-login") LOGIN

// Usage in a Pug document
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title RSUI Navbar
    link(rel="stylesheet", href="../css/navbar.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
  body
    +navbar
