mixin searchBox
  .search-container
    .search-box
      h2 CARI DOKTER
      p Temukan dan kenali profil dokter serta tenaga ahli kami
      .search-input
        input(type="text" placeholder="Cari dokter...")
        button.search-btn
          i.fas.fa-search
          |  TELUSURI
