mixin specialOffers
  // Penawaran Spesial Section
  section.special-offers
    .container
      h2 Penawaran Spesial
      - 
        var offers = [
          { image: 'komponen/assets/img/20240724155111.jpeg', alt: 'Paket MCU Jantung - Satu Jantung untuk Disayang', description: 'Persiapkan Diri Sebelum Tiba di Tanah Suci' },
          { image: 'komponen/assets/img/20240808181309.jpg', alt: 'Hemat 10% MCU Sport', description: 'Hemat 10% MCU Sport' },
          { image: 'komponen/assets/img/20240811120405.jpg', alt: 'Harga Khusus Medical Check Up', description: 'Harga Khusus Medical Check Up' },
          { image: 'komponen/assets/img/20240909165450.jpg', alt: 'Persiapkan Diri Sebelum Tiba di Tanah Suci', description: 'Paket MCU Jantung - Satu Jantung untuk Disayang' }
        ]
      
      .offers-grid
        each offer in offers
          .offer-item
            img(src=offer.image alt=offer.alt)
            p= offer.description
      button.learn-more-btn Selengkapnya