mixin specialOffers
  // Penawaran Spesial Section
  section.special-offers
    .container
      h2 Penawaran Spesial
      .offers-grid
        .offer-item
          img(src="komponen/assets/img/20240724155111.jpeg" alt="Paket MCU Jantung - Satu Jantung untuk Disayang")
          p Persiapkan Diri Sebelum Tiba di Tanah Suci
        .offer-item
          img(src="komponen/assets/img/20240808181309.jpg" alt="Hemat 10% MCU Sport")
          p Hemat 10% MCU Sport
        .offer-item
          img(src="komponen/assets/img/20240811120405.jpg" alt="Harga Khusus Medical Check Up")
          p Harga Khusus Medical Check Up
        .offer-item
          img(src="komponen/assets/img/20240909165450.jpg" alt="Persiapkan Diri Sebelum Tiba di Tanah Suci")
          p Paket MCU Jantung - Satu Jantung untuk Disayang
      button.learn-more-btn Selengkapnya
