mixin radiologyPage()
  // Header Section
  section.header
    .header-image
      h1 Selamat Datang Di
      h2 Radiologi

  // Description Section
  section.description
    p Deskripsi
    p Unit Radiologi RSU memiliki layanan unggulan dalam bidang...

  // Services Section
  section.services
    .service-item Digital Radiography (DR)
    .service-item Digital Mammografi
    .service-item Ultrasonografi
    .service-item CT scan 128 slices
    .service-item MRI 1.5 Tesla

  // Gallery Section
  section.gallery
    h3 Galeri
    .gallery-item
      img(src="path/to/image1.jpg", alt="Radiologi Image 1")
    .gallery-item
      img(src="path/to/image2.jpg", alt="Radiologi Image 2")
    .gallery-item
      img(src="path/to/image3.jpg", alt="Radiologi Image 3")
