// Template utama
doctype html
html(lang="en")
  head
    title Website Template
    link(rel="stylesheet" href="styles.css")
  body
    // Include navbar
    include navbar.pug

    // Include search bar
    include search.pug

    // Include profile section
    include profile.pug

    // Include dropdown menu (drop & drop2)
    include drop.pug
    include drop2.pug

    // Include slideshow
    include slide.pug

    // Include dokter section
    include dokter.pug

    // Include button section
    include button.pug

    // Include denah (map) section
    include denah.pug

    // Include iklan (advertisement) section
    include iklan.pug

    // Footer
    footer
      p &copy; 2024 Your Website. All Rights Reserved.
