doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="../../css/footer.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
  body
    //- footer
    .footer
      .footer-container
        //- Left Section (Tautan)
        .footer-section
          h3 Tautan
          ul
            li: a(href="#") Tentang Kami
            li: a(href="#") Hubungi Kami
            li: a(href="#") Mengenai Situs Ini
            li: a(href="#") Artikel Populer
        //- Center Section (Lainnya)
        .footer-section
          h3 Lainnya
          ul
            li: a(href="#") Kebijakan Privasi
            li: a(href="#") Galeri Photo
            li: a(href="#") Pens DDK
        //- Right Section (Logo)
        .footer-section.logo-section
          img(src="assets/img/Logo_PENS.png", alt="PENS Logo")
      //- Registration Button Section
      .registration-section
        p Pendaftaran poliklinik dan vaksin
        button.register-button KLIK DISINI
